*{
  box-sizing: border-box;
}

html, body{
  background-color: #222;
  margin: 0;
}

main{
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-areas: "a b" "c b";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.code-textbox{
  width: 100%;
  height: 100%;
  resize: none;
  background-color: #222;
  color: #fff;
  padding: 20px;
  border: none;
  margin: none;
}

.code-textbox:focus{
  outline: none;
}

.code-textbox::placeholder{
  color: #ddd;
}

#init-code{
  grid-area: a;
  border: #000 solid;
  border-width: 0 0 2px 0;
}

#update-code{
  grid-area: c;
}

#gl{
  grid-area: b;
  background-color: #000;
  width: 100%;
  height: 100%;
  
}